<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="social-media-list list-inline">
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          {% for profile in site.social %}
            <li>
              <a href="https://{{ profile.network }}.com/{{ profile.username }}" target="_blank">
                <i class="fa fa-{{ profile.network }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
