<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">




    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
        <!-- Meta tags pour fb -->

    <!-- Open Graph data -->
    <meta property="og:title" content="Pierre-Olivier Goffard" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://pierre-olivier.goffard.me" />
    <!-- Facebook image must be at least 600x315px -->
    <meta property="og:image" content="http://pierre-olivier.goffard.me/PierreOlivierGoffard.jpg" />
    <meta property="og:description" content="Pierre-Olivier Goffard personal webpage. All you need to know about me and my research work." />
    <meta property="og:site_name" content="Pierre-Olivier Goffard" />
    <meta property="fb:admins" content="Facebook numberic ID" />


    <!-- Meta tags pour twitter -->
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:url" content="http://pierre-olivier.goffard.me">
    <meta name="twitter:title" content="Pierre-Olivier Goffard">
    <meta name="twitter:description" content="Pierre-Olivier Goffard personal webpage. All you need to know about me and my research work.">
    <meta name="twitter:creator" content="@LaGauffreBzh">
    <!-- Twitter Summary card images must be at least 200x200px -->
    <meta name="twitter:image" content="http://pierre-olivier.goffard.me/PierreOlivierGoffard.jpg">



    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://pierre-olivier.goffard.me">
    <meta name="twitter:title" content="Pierre-Olivier Goffard">
    <meta name="twitter:description" content="Pierre-Olivier Goffard personal webpage. All you need to know about me and my research work.">
    <meta name="twitter:image" content="/PierreOlivierGoffard.jpg">
    <meta name="twitter:creator" content="@LaGauffreBzh">

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


</head>
